.strip {
	border:3px solid #000;
	border-radius: .5em;
	-moz-border-radius: .5em;
	
	padding:5px;
	margin:5px;
}

form, select {
	display:inline;
	float:none;
}

.time {
	float:right;
}


/* The read items will appear a bit different */
.read {
	opacity: .5;
	filter: alpha(opacity=50);
}

.active {
	border:3px solid blue;
	opacity: 1;
	filter: alpha(opacity=100);
}